<!DOCTYPE html>
{% extends "my_app/base.html" %}
{% load static %}
  {% block body_block_title %}
  <title>Countries</title>
  {% endblock %}


    {% block body_block%}

    <div class="container">
      {% if stam %}
          <table class="table table-sm">
            <thead>
              <th>A List Of All The Countries That Our System Supports</th>
            </thead>

            {% for con in stam %}
              <tr>
                <td>{{ con|title }}</td>
              </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>No Access Records. Table Not Created.</p>
      {% endif %}
    </div>
    {% endblock %}
