<!DOCTYPE html>
{% extends "my_app/base.html" %}
{% load static %}
  {% block body_block_title %}
  <title>Home Page!</title>
  {% endblock %}

    {% block body_block%}
    <div class='main_theme'>
      <h1>Predicting Movie Rating</h1>
      <h2>Based on IMDb database And Machine Learning Algorithms</h2>

      <div class="parag">
        <table class="table table-sm">
          <tr>
            <td><img src="{% static "my_app/images/titanic.jpg" %}" alt="NO PICTURE TO SHOW!"></td>
            <td><img src="{% static "my_app/images/lion.jpg" %}" alt="NO PICTURE TO SHOW!"></td>
            <td><img src="{% static "my_app/images/forrest.jpg" %}" alt="NO PICTURE TO SHOW!"></td>
          </tr>
          <tr>
            <td>Titanic(1997): 7.8</td>
            <td>The Lion King(1994): 8.5</td>
            <td>Forrest Gump(1994): 8.8</td>
          </tr>
        </table>
      </div>
      <div class="parag">
        <h5>Who are we?</h5>
        <p><em>We are a group of computer science students at the Technion institute of technology. In our artificial intelligence project, we tried to predict movies ratings according to the movies features and based on previous ratings for movies in the IMDb database.</em></p>
      </div>
      <div class="parag">
        <h5>What is IMDb?</h5>
        <p><em>IMDb (an acronym for Internet Movie Database) is an online database of information related to films, television programs, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, ratings, and fan and critical reviews. (From Wikipedia) <a href="http://www.imdb.com">Link to IMDb website!</a></em></p>
      </div>

      <div class="parag">
        <h5>How do we predict the rating?</h5>
        <p><em>We collected data on 15,428 movies. We tried diffrent machine learning regressors and we run many expriments so we can decide which regressor to use. And we choose for our web the regressor that gave the best results.</em></p>
      </div>

      <div class="parag">
        <h5>What features should you know about the movie that you are trying to predict?</h5>
        <p><em>In order to use the algorithm that we built you will have to know some basic information about the movie. The information that is required is the following:</em></p>
        <ul>
          <li class="list-group-item">The date of publishing the movie.</li>
          <li class="list-group-item">The genre of the movie.</li>
          <li class="list-group-item">The duration of the movie.</li>
          <li class="list-group-item">The countries that took part in the production.</li>
          <li class="list-group-item">The langueges that are spoken in the movie.</li>
          <li class="list-group-item">The name of the production company.</li>
          <li class="list-group-item">The budget for the movie.</li>
          <li class="list-group-item">The names of the two main actors in the movie.</li>
          <li class="list-group-item">The name of the director of the movie.</li>
        </ul>
      </div>

      <div class="parag">
        <h5>How to check if your data is supported in our system?</h5>
        <p><em>Our website can show you a list of countries, langueges, production companies, actors and directors that our system supports. You can check the lists by clicking on the relevant button on the navbar above.</em></p>
      </div>

      <div class="parag">
        <h5>How to get the predection?</h5>
        <p><em>In order to start, please click on "The Form" button on the navbar. </em></p>
      </div>

    </div>



    {% endblock %}
