body{
  /* background-color: rgba(212, 224, 155, 1); */
  background-color: rgba(255, 191, 105, 1);
  color : rgba(164, 74, 63, 1);
  /* color : rgba(255, 159, 28, 1); */
}


table{
  color : rgba(41, 50, 65, 1);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  table-layout: fixed;
  white-space: nowrap;
  width: 40%;
}


.container{
  width: 50%;
  padding: 30px 30px 30px 30px;
  background-color: rgba(203, 243, 240, 1);
  /* background-color: rgba(203, 223, 189, 1); */
}

#submit{
  margin-top: 25px;
}

.form_theme{
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 40px 30px;
  width: 60%;
  align-content: center;
  /* background-color: rgba(203, 223, 189, 1); */
    background-color: rgba(203, 243, 240, 1);
}

.main_theme{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 40px 30px;
  width: 70%;
  align-content: center;
  /* background-color: rgba(203, 223, 189, 1); */
  background-color: rgba(203, 243, 240, 1);
}

img {
  margin-top: 0px;
  border-radius: 4px;
  width: 200px;
}

.list-group-item{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: rgba(61, 90, 128, 0.2);
}

.parag{
    padding-top:30px;
}
